.datatable {
  .title {
    font-size: 4vmin;
    margin: 2em auto 1em auto;
    text-align: center;
    color: crimson;
    word-spacing: 0.2em;
    letter-spacing: 5px;
    text-decoration: underline;
  }
  .table {
    width: 80%;
    margin: 2em auto 2em auto;
    text-align: center;
  }
}
